@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.intro-image {
    background-image: url("../gfx/image1.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
}